<?page title="MASTER USER" contentType="text/html;charset=UTF-8"?>

<zk>
	<window contentStyle="overflow-x: scroll; overflow-y: scroll" height="100%"  apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('vmd.MasterUserVmd')">
		<style>
			.button{ background:#f2701a; color:white; width: 100px; height :
			30px; border-radius: 6px; border: solid #002d4e;} 
			.button:hover{ opacity:0.5;
			background:#f4511e; }
		</style>
		<hlayout>
			<div width="23px"></div>
			<div width="300px" height="30px" style="padding-left:10px; background:#f2701a; border: solid #002d4e; border-width: 4px;">
				<div align="center" style="padding-top:2px;">
				<label style="font-weight: bold; color: white; font-size: 14px;">MASTER USER</label>
				</div>
			</div>
		</hlayout>
		<div width="328px" height="4px" style="background:#002d4e"/>
		<separator></separator>
		<window style="min-width: 1060px; max-width: 1060px;">
		<div align="right">
			<button label="TAMBAH" style="background:#f2701a; color:white; width: 80px; height :30px; border-radius: 6px; border: solid #002d4e;"
					onClick="@command('add')"/>
			<space></space>
			<space></space>
			<space></space>
			<space></space>  
			<image src="/imgs/if_search_322497.png"
					onClick="@command('search')">
			</image>
			<textbox placeholder="Cari..." style="padding: 10px; border: solid #002d4e;"
					width="280px" value="@bind(vm.keySearch)"
					onOK="@command('search')" />
		</div>
		</window>
		<separator></separator>
		<window height="400px" width="100%" style="min-width: 1060px; max-width: 1060px; border-width:1px; border-style:ridge;" >
		<div align="center">
		<listbox  mold="paging"  height="400px" pagingPosition="both" pageSize="@bind(vm.page)" model="@load(vm.listUserProfileDto)"
			selectedItem="@bind(vm.userProfileDto)" width="97%" style="text-transform:uppercase;" vflex="true" hflex="true" >
			<listhead style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
				<listheader
					style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="ID USER" width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="NAMA KARYAWAN" width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="NAMA REGIONAL" width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="NAMA CABANG"   width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="STATUS" width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="AKSI"  width="120px">
				</listheader>
			</listhead>
			<template name="model">
				<listitem
					style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.userId)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.namaKaryawan)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.namaRegional)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.namaCabang)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.keteranganStatus)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center">
						<image src="/imgs/if_Authorisation_lock_padlock_password_privacy_safe_security_1886487.png"  
								tooltiptext="Reset Password" onClick="@command('resetPass')">
						</image>
						<image src="/imgs/update.png" tooltiptext="UBAH" onClick="@command('edit')">
						</image>
						<!-- <image src="/imgs/remove.png" tooltiptext="Delete" onClick="@command('disableUser')">
						</image> -->
					</listcell>
				</listitem>
			</template>
		</listbox>
		</div>
		</window>
		<separator></separator>
			<div align="left" style="padding-left:20px">
				Tampilkan Field per-Halaman :
				<combobox width="70px" selectedItem="@save(vm.page)"
					value="@load(vm.page)"
					style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
					onSelect="@command('page')">
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="10" value="10" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="25" value="25" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="50" value="50" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="75" value="75" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="100" value="100" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="150" value="150" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="200" value="200" />
				</combobox>
			</div>
			
			<!-- ======= add or edit USER ========== -->
			<window width="500px" height="700px" mode="modal"  position="center"
				style="-webkit-box-shadow: 1px 1px 3px 3px #002d4e; text-transform:uppercase;
			   box-shadow: 1px 1px 4px 7px #002d4e;"
				visible= "@load(vm.visibleAddEdit)">
				<div width="100%" height="3%"
					style="background:#002d4e">
				</div>
				<div width="100%" height="7%"
					style="background:#f2701a">
					<div style="padding-top:5px; padding-left:7px">
						<label value="TAMBAH / UBAH"
							style="color:#002d4e; font-size:18px; font-weight: bold">
						</label>
					</div>
				</div>
				<window width="100%" height="74%" contentStyle="overflow-y:scroll">
					<grid>
						<columns>
							<column width="20%"/>
							<column width="60%"/>
							<column width="20%"/>
						</columns>
						<rows>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									ID USER
								</label>
								<textbox width="275px" tabindex="1" readonly="@load(vm.fieldUserId)" value="@bind(vm.userProfileDto.userId)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Masukan USER ID **" maxlength="10"/>
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									KODE REGIONAL
								</label>
								<textbox width="275px" tabindex="1" value="@bind(vm.userProfileDto.kodeRegion)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Pilih region **" readonly="true"/>
									<button label="PILIH" style="background:#f2701a; color:white; width: 80px; height :
									30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('showRegional')"/>
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									NAMA REGIONAL
								</label>
									<textbox width="275px" tabindex="1" readonly="true" value="@bind(vm.userProfileDto.namaRegional)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Pilih region **" />
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									KODE CABANG
								</label>
								<textbox width="275px" tabindex="1" readonly="true" value="@bind(vm.userProfileDto.kodeCabang)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Pilih cabang **" />
									<button label="PILIH" style="background:#f2701a; color:white; width: 80px; height :
									30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('showCabang')"/>
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									NAMA CABANG
								</label>
									<textbox width="275px" tabindex="1" readonly="true" value="@bind(vm.userProfileDto.namaCabang)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Pilih cabang **" />
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									KODE KOLEKTOR
								</label>
								<textbox width="275px" tabindex="1" value="@bind(vm.userProfileDto.kodeKolektor)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									maxlength="12" placeholder="** Masukan kode kolektor **" />
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									KODE KARYAWAN
								</label>
								<textbox width="275px" tabindex="1" value="@bind(vm.userProfileDto.kodeKaryawan)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									maxlength="10" placeholder="** Masukan kode karyawan **" />
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									NAMA KARYAWAN
								</label>
									<textbox width="275px" tabindex="1" value="@bind(vm.userProfileDto.namaKaryawan)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									maxlength="100" placeholder="** Masukan nama karyawan **" />
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									AUTHORITY ID
								</label>
								<textbox width="275px" tabindex="1" readonly="true" value="@bind(vm.userProfileDto.authorityId)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Pilih authority **" />
									<button label="PILIH" style="background:#f2701a; color:white; width: 80px; height :
									30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('showAuthority')"/>
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									NAMA AUTHORITY
								</label>
									<textbox xmlns:w="client" width="275px" tabindex="1" readonly="true" value="@bind(vm.userProfileDto.authorityName)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Pilih authority **" >
									<attribute w:name="doKeyDown_"><![CDATA[
			function (evt) {
				var keyCode = event.keyCode;
				if( keyCode == 8 // back space
					|| keyCode == 13 // enter
					|| keyCode == 16 // enter
					|| (keyCode >= 35 && keyCode <= 40) // home, end, arrows
					|| keyCode == 46) { // Delete
					this.$doKeyDown_(evt);
				} else if ( !evt.shiftKey &&  // only do without shift key
					(keyCode >= 48 && keyCode <= 57)
					|| (keyCode >= 96 && keyCode <= 105)) {// number range
					this.$doKeyDown_(evt);
				} else {
					evt.stop();
					return;
				}
			}
		]]></attribute>	
									</textbox>
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									IMEI NUMBER
								</label>
								<textbox xmlns:w="client" width="275px" tabindex="1" value="@bind(vm.userProfileDto.imeiNumber)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Masukan IMEI number **" >
									<attribute w:name="doKeyDown_"><![CDATA[
								function (evt) {
									var keyCode = event.keyCode;
									if( keyCode == 8 // back space
										|| keyCode == 13 // enter
										|| keyCode == 16 // enter
										|| (keyCode >= 35 && keyCode <= 40) // home, end, arrows
										|| keyCode == 46) { // Delete
										this.$doKeyDown_(evt);
									} else if ( !evt.shiftKey &&  // only do without shift key
										(keyCode >= 48 && keyCode <= 57)
										|| (keyCode >= 96 && keyCode <= 105)) {// number range
										this.$doKeyDown_(evt);
									} else {
										evt.stop();
										return;
									}
								}
							]]></attribute>
							</textbox>
							</row> 	
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									PHONE NUMBER
								</label>
								<textbox xmlns:w="client" width="275px" tabindex="1" value="@bind(vm.userProfileDto.phoneNumber)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Masukan phone number **" >
		<attribute w:name="doKeyDown_"><![CDATA[
			function (evt) {
				var keyCode = event.keyCode;
				if( keyCode == 8 // back space
					|| keyCode == 13 // enter
					|| keyCode == 16 // enter
					|| (keyCode >= 35 && keyCode <= 40) // home, end, arrows
					|| keyCode == 46) { // Delete
					this.$doKeyDown_(evt);
				} else if ( !evt.shiftKey &&  // only do without shift key
					(keyCode >= 48 && keyCode <= 57)
					|| (keyCode >= 96 && keyCode <= 105)) {// number range
					this.$doKeyDown_(evt);
				} else {
					evt.stop();
					return;
				}
			}
		]]></attribute>
		</textbox>
							</row>				
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									Status
								</label>
								<combobox width="275px"
									placeholder="** Pilih Status **" value="@bind(vm.userProfileDto.keteranganStatus)" readonly="true"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; border: solid #002d4e;">
									<comboitem
										style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; "
										label="ENABLED" value="1" />
									<comboitem
										style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; "
										label="DISABLED" value="0" />
								</combobox>
							</row>
						</rows>
					</grid>
				</window>
				<div width="100%" height="7%">
					<div align="right">
						<button label="SIMPAN" style="background:#f2701a; color:white; width: 80px; height :
						30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('save')"/>
						<button label="TUTUP" style="background:#f2701a; color:white; width: 80px; height :
						30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('close')"/>
					</div>
					
				</div>
				<div width="100%" height="2%"
					style="background:#f2701a">
				</div>
				<div width="100%" height="7%"
					style="background:#002d4e">
					<div align="center" style="padding-top:9px">
					</div>
				</div>
			</window>
			<!-- ======= Pilih regional ========== -->
			<window width="400px" height="570px" mode="modal" contentStyle="overflow:auto" position="center"
				style="-webkit-box-shadow: 1px 1px 3px 3px #002d4e; text-transform:uppercase;
			   box-shadow: 1px 1px 4px 7px #002d4e;"
				visible= "@load(vm.visibleRegional)">
				<div width="100%" height="20px"
					style="background:#002d4e">
				</div>
				<div width="100%" height="30px"
					style="background:#f2701a">
					<div style="padding-top:5px; padding-left:7px">
						<label value="REGIONAL"
							style="color:#002d4e; font-size:18px; font-weight: bold">
						</label>
					</div>
				</div>
				<div height="30px" align="right">
					<hlayout>
						<image src="/imgs/if_search_322497.png"
							onClick="@command('showSearchRegional')">
						</image>
						<textbox placeholder="Cari..."
							style="padding: 1px; border: solid #002d4e;" width="200px"
							value="@bind(vm.keySearchRegional)" onOK="@command('showSearchRegional')" />
					</hlayout>
				</div>
				<listbox mold="paging" height="363px"
					pagingPosition="both" pageSize="@load(vm.pageRegional)"
					model="@load(vm.listMasterRegionalDto)"
					selectedItems="@bind(vm.listMasterRegionalDtoChoose)" width="97%"
					style="text-transform:uppercase;" checkmark="true" multiple="true"
					vflex="true">
					<listhead
						style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							width="10%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NAMA REGIONAL" width="90%">
						</listheader>
					</listhead>
					<template name="model">
						<listitem selected="@bind(each.choose)" visible="@load(each.itemList)"
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
							<listcell 
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center">
							</listcell>
							<listcell 
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.namaRegion)">
							</listcell>
						</listitem>
					</template>
				</listbox>
				<div height="40px" align="left"
					style="padding-left:20px">
					Tampilkan Field per-Halaman :
					<combobox width="70px" selectedItem="@save(vm.pageRegional)"
						value="@load(vm.pageRegional)"
						style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
						onSelect="@command('pageRegional')">
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="10" value="10" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="25" value="25" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="50" value="50" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="75" value="75" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="100" value="100" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="150" value="150" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="200" value="200" />
					</combobox>
				</div>
				<div width="100%" height="35px">
					<div align="right">
						<button label="PILIH" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('chooseRegional')"/>
						<button label="TUTUP" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('closeRegional')"/>
					</div>
					
				</div>
				<div width="100%" height="20px"
					style="background:#f2701a">
				</div>
				<div width="100%" height="20px"
					style="background:#002d4e">
					<div align="center" style="padding-top:9px">
					</div>
				</div>
			</window>
			
			<!-- ======= Pilih Cabang ========== -->
			<window width="400px" height="570px" mode="modal" contentStyle="overflow:auto" position="center"
				style="-webkit-box-shadow: 1px 1px 3px 3px #002d4e; text-transform:uppercase;
			   box-shadow: 1px 1px 4px 7px #002d4e;"
				visible= "@load(vm.visibleCabang)">
				<div width="100%" height="20px"
					style="background:#002d4e">
				</div>
				<div width="100%" height="30px"
					style="background:#f2701a">
					<div style="padding-top:5px; padding-left:7px">
						<label value="CABANG"
							style="color:#002d4e; font-size:18px; font-weight: bold">
						</label>
					</div>
				</div>
				<div height="30px" align="right">
					<hlayout>
						<image src="/imgs/if_search_322497.png"
							onClick="@command('showSearchCabang')">
						</image>
						<textbox placeholder="Cari..."
							style="padding: 1px; border: solid #002d4e;" width="200px"
							value="@bind(vm.keySearchCabang)" onOK="@command('showSearchCabang')" />
					</hlayout>
				</div>
				<listbox mold="paging" height="363px"
					pagingPosition="both" pageSize="@load(vm.pageCabang)"
					model="@load(vm.listCabangMstDto)"
					selectedItems="@bind(vm.listCabangMstDtoChoose)" width="97%"
					style="text-transform:uppercase;" checkmark="true" multiple="true"
					vflex="true">
					<listhead
						style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							width="10%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NAMA CABANG" width="90%">
						</listheader>
					</listhead>
					<template name="model">
						<listitem selected="@bind(each.choose)" visible="@load(each.itemList)"
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.namaCabang)">
							</listcell>
						</listitem>
					</template>
				</listbox>
				<div height="40px" align="left"
					style="padding-left:20px">
					Tampilkan Field per-Halaman :
					<combobox width="70px" selectedItem="@save(vm.pageCabang)"
						value="@load(vm.pageCabang)"
						style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
						onSelect="@command('pageCabang')">
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="10" value="10" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="25" value="25" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="50" value="50" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="75" value="75" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="100" value="100" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="150" value="150" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="200" value="200" />
					</combobox>
				</div>
				<div width="100%" height="35px">
					<div align="right">
						<button label="PILIH" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('chooseCabang')"/>
						<button label="TUTUP" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('closeCabang')"/>
					</div>
					
				</div>
				<div width="100%" height="20px"
					style="background:#f2701a">
				</div>
				<div width="100%" height="20px"
					style="background:#002d4e">
					<div align="center" style="padding-top:9px">
					</div>
				</div>
			</window>
			
			<!-- ======= Pilih Authority ========== -->
			<window width="400px" height="570px" mode="modal" contentStyle="overflow:auto" position="center"
				style="-webkit-box-shadow: 1px 1px 3px 3px #002d4e; text-transform:uppercase;
			   box-shadow: 1px 1px 4px 7px #002d4e;"
				visible= "@load(vm.visibleAuthority)">
				<div width="100%" height="20px"
					style="background:#002d4e">
				</div>
				<div width="100%" height="30px"
					style="background:#f2701a">
					<div style="padding-top:5px; padding-left:7px">
						<label value="AUTHORITY"
							style="color:#002d4e; font-size:18px; font-weight: bold">
						</label>
					</div>
				</div>
				<div height="30px" align="right">
					<hlayout>
						<image src="/imgs/if_search_322497.png"
							onClick="@command('showSearchAuthority')">
						</image>
						<textbox placeholder="Cari..."
							style="padding: 1px; border: solid #002d4e;" width="200px"
							value="@bind(vm.keySearchAuthority)" onOK="@command('showSearchAuthority')" />
					</hlayout>
				</div>
				<listbox mold="paging" height="363px"
					pagingPosition="both" pageSize="@load(vm.pageAuthority)"
					model="@load(vm.listAuthorityMstDto)"
					selectedItem="@bind(vm.authorityMstDto)" width="97%"
					style="text-transform:uppercase;" checkmark="true" multiple="false"
					vflex="true">
					<listhead
						style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							width="10%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NAMA AUTHORITY" width="90%">
						</listheader>
					</listhead>
					<template name="model">
						<listitem  visible="@load(each.itemList)"
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
							<listcell 
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center">
							</listcell>
							<listcell 
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.authorityName)">
							</listcell>
						</listitem>
					</template>
				</listbox>
				<div height="40px" align="left"
					style="padding-left:20px">
					Show per-Page :
					<combobox width="70px" selectedItem="@save(vm.pageAuthority)"
						value="@load(vm.pageAuthority)"
						style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
						onSelect="@command('pageAuthority')">
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="10" value="10" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="25" value="25" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="50" value="50" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="75" value="75" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="100" value="100" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="150" value="150" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="200" value="200" />
					</combobox>
				</div>
				<div width="100%" height="35px">
					<div align="right">
						<button label="PILIH" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('chooseAuthority')"/>
						<button label="TUTUP" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('closeAuthority')"/>
					</div>
					
				</div>
				<div width="100%" height="20px"
					style="background:#f2701a">
				</div>
				<div width="100%" height="20px"
					style="background:#002d4e">
					<div align="center" style="padding-top:9px">
					</div>
				</div>
			</window>
	</window>
</zk>