<?page title="REKON KOLEKTOR" contentType="text/html;charset=UTF-8"?>

<zk>
	<window contentStyle="overflow-x: scroll; overflow-y: scroll"  apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('vmd.rekonKolektorVmd')" width="100%" height="100%">
		<div width="100%" style="padding:1px">
		<hlayout>
			<div width="23px"></div>
			<div width="300px" height="30px" style="padding-left:10px; background:#f2701a; border: solid #002d4e; border-width: 4px;">
				<div align="center" style="padding-top:2px;">
				<label style="font-weight: bold; color: white; font-size: 14px;">REKON KOLEKTOR</label>
				</div>
			</div>
		</hlayout>
		<div width="328px" height="4px" style="background:#002d4e"/>
		<grid style="border-style : hidden; min-width: 1060px; max-width: 1060px;">
			<columns>
				<column width="80px" />
				<column width="270px" />
				<column width="80px" />
				<column width="80px" />
				<column width="270px" />
				<column width="80px" />
			</columns>
			<rows>
				<row tooltiptext="@load(vm.regionalDto)">
					<label value="REGIONAL"
						style=" text-transform: uppercase; font-weight: bold;" />
					<textbox width="230px" readonly="true"
						value="@load(vm.stringArrayRegional)"
						tooltiptext="@load(vm.stringArrayRegional)"
						onFocus="@load(vm.stringArrayRegional)"
						style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 2px; border: solid #002d4e;"/>
					<button label="PILIH" onClick="@command('showRegional')" 
					style="background:#f2701a; color:white; padding:2px; border-radius: 6px; border: solid #002d4e;"/>
					<label value="KOLEKTOR"
						style=" text-transform: uppercase; font-weight: bold;" />
					<textbox width="230px" readonly="true"
						value="@load(vm.stringArrayKolektor)"
						tooltiptext="@load(vm.stringArrayKolektor)"
						onFocus="@load(vm.stringArrayKolektor)"
						style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding:2px; border: solid #002d4e;"/>
					<button label="PILIH" onClick="@command('showKolektor')"
					style="background:#f2701a; color:white; padding:2px; border-radius: 6px; border: solid #002d4e;"/>
				</row>
				<row>
					<label value="CABANG"
						style=" text-transform: uppercase; font-weight: bold;" />
					<textbox width="230px" readonly="true"
						value="@load(vm.stringArrayCabang)"
						tooltiptext="@load(vm.stringArrayCabang)" 
						onFocus="@load(vm.stringArrayCabang)"
						style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding:2px; border: solid #002d4e;"/>
					<button label="PILIH" onClick="@command('showCabang')" 
					style="background:#f2701a; color:white; padding:2px; border-radius: 6px; border: solid #002d4e;"/>
				</row>
			</rows>
		</grid>
		<grid style="border-style : hidden; min-width: 1060px; max-width: 1060px;">
			<columns>
				<column width="80px"></column>
				<column width="290px"></column>
				<column width="60px"></column>
				<column width="290px"></column>
				<column width="290px"></column>
			</columns>
			<rows>
				<row>
					<label value="TANGGAL" />
					<div>
						<datebox cols="12" format="medium" value="@bind(vm.tglAwal)" onCreate="@bind(vm.tglAwal)" 
						style="font-weight: normal; font-family: 'Calibri'; font-size: 12px; text-transform:uppercase; padding:0px; border: solid #002d4e;"/>
						<timebox cols="6" format="HH:mm" value="@bind(vm.tglAwal)" onCreate="@bind(vm.tglAwal)" 
						style="font-weight: normal; font-family: 'Calibri'; font-size: 12px; text-transform:uppercase; padding:0px; border: solid #002d4e;"/>
					</div>
					<label value="SAMPAI" />
					<div>
						<datebox cols="12" format="medium" value="@bind(vm.tglAkhir)" onCreate="@bind(vm.tglAkhir)" 
						style="font-weight: normal; font-family: 'Calibri'; font-size: 12px; text-transform:uppercase; padding:0px; border: solid #002d4e;"/>
						<timebox cols="6" format="HH:mm" value="@bind(vm.tglAkhir)" onCreate="@bind(vm.tglAkhir)" 
						style="font-weight: normal; font-family: 'Calibri'; font-size: 12px; text-transform:uppercase; padding:0px; border: solid #002d4e;"/>
					</div>
				</row>
				<row>
					<button label="CARI" onClick="@command('search')"
					style="background:#f2701a; color:white; padding:2px; border-radius: 6px; border: solid #002d4e;"/>
					<label></label>
					<label></label>
					<label></label>
					<div height="30px" align="right">
						<hlayout>
							<image src="/imgs/if_search_322497.png"
								onClick="@command('resultSearch')">
							</image>
							<textbox placeholder="Cari..."
								style="padding: 1px; border: solid #002d4e;" width="200px"
								value="@bind(vm.keySearch)" onOK="@command('resultSearch')" />
						</hlayout>
					</div>
				</row>
			</rows>	
		</grid>
		
		</div>
		<window height="300px" width="100%" style="min-width: 1060px; max-width: 1060px; border-width:1px; border-style:ridge;" >
		<div align="center">
				<listbox mold="paging" height="300px"
					pagingPosition="both" pageSize="@bind(vm.page)"
					model="@load(vm.listCollectionDetailDto)" selectedItem="@bind(vm.collectionDetailDto)"
					width="100%" style="text-transform:uppercase;" vflex="true">
					<listhead
						style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="ID KOLEKTOR" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NAMA KOLEKTOR" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="CABANG" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="INTERVAL WAKTU" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="JUMLAH KUNJUNGAN" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="ACTION" width="">
						</listheader>
					</listhead>
					<template name="model">
						<listitem
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.collectorCode)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.namaKaryawan)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.namaCabang)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.intervalWaktu)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center"
								label="@load(each.jumlahKunjungan)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center">
								<image src="/imgs/view.png"
									tooltiptext="VIEW"
									onClick="@command('showDetail')">
								</image>
							</listcell>
						</listitem>
					</template>
				</listbox>
			</div>
		</window>
		<separator></separator>
		<div align="left" style="padding-left:20px">
				Tampilkan Field per-Halaman :
				<combobox width="70px" selectedItem="@save(vm.page)"
					value="@load(vm.page)"
					style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
					onSelect="@command('page')">
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="10" value="10" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="25" value="25" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="50" value="50" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="75" value="75" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="100" value="100" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="150" value="150" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="200" value="200" />
				</combobox>
			</div>
		
		<!-- ======= Pilih regional ========== -->
			<window width="400px" height="570px" mode="modal" contentStyle="overflow:auto" position="center"
				style="-webkit-box-shadow: 1px 1px 3px 3px #002d4e; text-transform:uppercase;
			   box-shadow: 1px 1px 4px 7px #002d4e;"
				visible= "@load(vm.visibleRegional)">
				<div width="100%" height="20px"
					style="background:#002d4e">
				</div>
				<div width="100%" height="30px"
					style="background:#f2701a">
					<div style="padding-top:5px; padding-left:7px">
						<label value="REGIONAL"
							style="color:#002d4e; font-size:18px; font-weight: bold">
						</label>
					</div>
				</div>
				<div height="30px" align="right">
					<hlayout>
						<image src="/imgs/if_search_322497.png"
							onClick="@command('showRegionalSearch')">
						</image>
						<textbox placeholder="Cari..."
							style="padding: 1px; border: solid #002d4e;" width="200px"
							value="@bind(vm.keySearchregional)" onOK="@command('showRegionalSearch')" />
					</hlayout>
				</div>
				<listbox mold="paging" height="363px"
					pagingPosition="both" pageSize="@load(vm.pageRegional)"
					model="@load(vm.listRegionalDto)"
					selectedItems="@bind(vm.listRegionalDtoChoose)" width="97%"
					style="text-transform:uppercase;" checkmark="true" multiple="true"
					vflex="true">
					<listhead
						style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							width="10%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="KODE REGIONAL" width="40%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NAMA REGIONAL" width="50%">
						</listheader>
					</listhead>
					<template name="model">
						<listitem selected="@bind(each.choose)" visible="@load(each.itemList)"
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
							<listcell 
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center">
							</listcell>
							<listcell 
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.kodeRegion)">
							</listcell>
							<listcell 
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.namaRegion)">
							</listcell>
						</listitem>
					</template>
				</listbox>
				<div height="40px" align="left"
					style="padding-left:20px">
					Tampilkan Field per-Halaman :
					<combobox width="70px" selectedItem="@save(vm.pageRegional)"
						value="@load(vm.pageRegional)"
						style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
						onSelect="@command('pageRegional')">
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="10" value="10" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="25" value="25" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="50" value="50" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="75" value="75" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="100" value="100" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="150" value="150" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="200" value="200" />
					</combobox>
				</div>
				<div width="100%" height="35px">
					<div align="right">
						<button label="PILIH" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('chooseRegional')"/>
						<button label="TUTUP" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('closeRegional')"/>
					</div>
					
				</div>
				<div width="100%" height="20px"
					style="background:#f2701a">
				</div>
				<div width="100%" height="20px"
					style="background:#002d4e">
					<div align="center" style="padding-top:9px">
					</div>
				</div>
			</window>
			
			<!-- ======= Pilih Cabang ========== -->
			<window width="400px" height="570px" mode="modal" contentStyle="overflow:auto" position="center"
				style="-webkit-box-shadow: 1px 1px 3px 3px #002d4e; text-transform:uppercase;
			   box-shadow: 1px 1px 4px 7px #002d4e;"
				visible= "@load(vm.visibleCabang)">
				<div width="100%" height="20px"
					style="background:#002d4e">
				</div>
				<div width="100%" height="30px"
					style="background:#f2701a">
					<div style="padding-top:5px; padding-left:7px">
						<label value="CABANG"
							style="color:#002d4e; font-size:18px; font-weight: bold">
						</label>
					</div>
				</div>
				<div height="30px" align="right">
					<hlayout>
						<image src="/imgs/if_search_322497.png"
							onClick="@command('showKolektorSearch')">
						</image>
						<textbox placeholder="Cari..."
							style="padding: 1px; border: solid #002d4e;" width="200px"
							value="@bind(vm.keySearchCabang)" onOK="@command('showKolektorSearch')" />
					</hlayout>
				</div>
				<listbox mold="paging" height="363px"
					pagingPosition="both" pageSize="@load(vm.pageCabang)"
					model="@load(vm.listCabangMstDto)"
					selectedItems="@bind(vm.listCabangMstDtoChoose)" width="97%"
					style="text-transform:uppercase;" checkmark="true" multiple="true"
					vflex="true">
					<listhead
						style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							width="10%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="KODE CABANG" width="40%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NAMA CABANG" width="50%">
						</listheader>
					</listhead>
					<template name="model">
						<listitem selected="@bind(each.choose)" visible="@load(each.itemList)"
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.kodeCabang)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.namaCabang)">
							</listcell>
						</listitem>
					</template>
				</listbox>
				<div height="40px" align="left"
					style="padding-left:20px">
					Tampilkan Field per-Halaman :
					<combobox width="70px" selectedItem="@save(vm.pageCabang)"
						value="@load(vm.pageCabang)"
						style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
						onSelect="@command('pageCabang')">
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="10" value="10" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="25" value="25" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="50" value="50" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="75" value="75" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="100" value="100" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="150" value="150" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="200" value="200" />
					</combobox>
				</div>
				<div width="100%" height="35px">
					<div align="right">
						<button label="PILIH" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('chooseCabang')"/>
						<button label="TUTUP" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('closeCabang')"/>
					</div>
					
				</div>
				<div width="100%" height="20px"
					style="background:#f2701a">
				</div>
				<div width="100%" height="20px"
					style="background:#002d4e">
					<div align="center" style="padding-top:9px">
					</div>
				</div>
			</window>
			
			<!-- ======= Pilih Kolektor ========== -->
			<window width="500px" height="570px" mode="modal" contentStyle="overflow:auto" position="center"
				style="-webkit-box-shadow: 1px 1px 3px 3px #002d4e; text-transform:uppercase;
			   box-shadow: 1px 1px 4px 7px #002d4e;"
				visible= "@load(vm.visibleKolektor)">
				<div width="100%" height="20px"
					style="background:#002d4e">
				</div>
				<div width="100%" height="30px"
					style="background:#f2701a">
					<div style="padding-top:5px; padding-left:7px">
						<label value="KOLEKTOR"
							style="color:#002d4e; font-size:18px; font-weight: bold">
						</label>
					</div>
				</div>
				<div height="30px" align="right">
					<hlayout>
						<image src="/imgs/if_search_322497.png"
							onClick="@command('showKolektorSearch')">
						</image>
						<textbox placeholder="Cari..."
							style="padding: 1px; border: solid #002d4e;" width="200px"
							value="@bind(vm.keySearchKolektor)" onOK="@command('showKolektorSearch')" />
					</hlayout>
				</div>
				<listbox mold="paging" height="363px"
					pagingPosition="both" pageSize="@load(vm.pageKolektor)"
					model="@load(vm.listUserKolektor)"
					selectedItems="@bind(vm.listUserKolektorChoose)" width="97%"
					style="text-transform:uppercase;" checkmark="true" multiple="true"
					vflex="true">
					<listhead
						style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							width="10%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="USER ID" width="20%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="KODE KOLEKTOR" width="30%">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NAMA KOLEKTOR" width="40%">
						</listheader>
					</listhead>
					<template name="model">
						<listitem selected="@bind(each.choose)" visible="@load(each.itemList)"
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.userId)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.kodeKolektor)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.namaKaryawan)">
							</listcell>
						</listitem>
					</template>
				</listbox>
				<div height="40px" align="left"
					style="padding-left:20px">
					Tampilkan Field per-Halaman :
					<combobox width="70px" selectedItem="@save(vm.pageKolektor)"
						value="@load(vm.pageKolektor)"
						style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
						onSelect="@command('pageKolektor')">
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="10" value="10" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="25" value="25" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="50" value="50" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="75" value="75" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="100" value="100" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="150" value="150" />
						<comboitem
							style="font-family: 'Times New Roman'; font-size: 11px; "
							label="200" value="200" />
					</combobox>
				</div>
				<div width="100%" height="35px">
					<div align="right">
						<button label="PILIH" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('chooseKolektor')"/>
						<button label="TUTUP" style="background:#f2701a; color:white; width: 80px; height :
							30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('closeKolektor')"/>
					</div>
					
				</div>
				<div width="100%" height="20px"
					style="background:#f2701a">
				</div>
				<div width="100%" height="20px"
					style="background:#002d4e">
					<div align="center" style="padding-top:9px">
					</div>
				</div>
			</window>
			<!-- ================================================================================== -->
			<window width="90%" height="90%" mode="modal"
				position="center" visible="@load(vm.visibleDetail)"
				contentStyle="overflow-x: scroll; overflow-y: scroll">
				<div width="100%" height="3%"
					style="background:#002d4e">
				</div>
				<div width="100%" height="4%"
					style="background:#f2701a">
					<div style="padding-top:2px; padding-left:7px">
						<label value="REPORT PENERIMAAN KOLEKTOR"
							style="color:#002d4e; font-size:18px; font-weight: bold">
						</label>
					</div>
				</div>
				<grid style="border-style : hidden;">
					<columns>
						<column width="190px" />
						<column width="270px" />
						<column width="100%" />
					</columns>
					<rows>
						<row>
							<label value="TANGGAL TAGIH"
								style=" text-transform: uppercase; font-weight: bold;" />
							<textbox width="230px" readonly="true"
								value="@load(vm.collectionDetailDto.intervalWaktu)"
								style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 2px; border: solid #002d4e;" />
						</row>
						<row>
							<label value="NAMA KOLEKTOR"
								style=" text-transform: uppercase; font-weight: bold;" />
							<textbox width="230px" readonly="true"
								value="@load(vm.collectionDetailDto.namaKaryawan)"
								style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 2px; border: solid #002d4e;" />
							<div align="right" style="padding-right:20px;">
								<image src="/imgs/if_24_171492.png"
									onClick="@command('downloadReport')">
								</image>
								<combobox width="100px"
									placeholder="Export to..." selectedItem="@bind(vm.export)"
									value="@load(vm.export)"
									style=" font-family: 'Times New Roman'; font-size: 11px;  border: solid #002d4e;">
									<comboitem
										style="font-family: 'Times New Roman'; font-size: 12px; "
										label="excel" value="excel" />
								</combobox>
							</div>
						</row>
						<row>
							<label value="JUMLAH KUNJUNGAN"
								style=" text-transform: uppercase; font-weight: bold;" />
							<textbox width="230px" readonly="true"
								value="@load(vm.collectionDetailDto.jumlahKunjungan)"
								style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 2px; border: solid #002d4e;" />
							<div align="right" style="padding-right:20px;">
								<hlayout>
									<image
										src="/imgs/if_search_322497.png"
										onClick="@command('resultSearchDetail')">
									</image>
									<textbox placeholder="Search..."
										style="padding: 1px; border: solid #002d4e;" width="200px"
										value="@bind(vm.keySearchDetail)"
										onOK="@command('resultSearchDetail')" />
								</hlayout>
							</div>
						</row>
					</rows>
				</grid>
				<listbox mold="paging" height="80%"
					pagingPosition="both" pageSize="@bind(vm.pageDetail)"
					model="@load(vm.listCollectionDetailViewDto)" width="100%"
					style="text-transform:uppercase;" vflex="true">
					<listhead
						style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NO" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="CONTRACT NO" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NAMA PEMESAN" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="NO STRUK" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="ANGSURAN" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="JUMLAH KUNJUNGAN" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="KUITANSI TERTAGIH" width="">
						</listheader>
						<listheader
							style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
							label="PEMBAYARAN" width="">
						</listheader>
					</listhead>
					<template name="model">
						<listitem
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="${forEachStatus.index+1}">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.contractNo)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.customerName)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.receiptNo)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.angsuran)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.jumlahKunjungan)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.kuitansiTertagih)">
							</listcell>
							<listcell
								style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
								label="@load(each.pembayaran)">
							</listcell>
						</listitem>
					</template>
				</listbox>
				<grid>
					<columns>
						<column width="50%"></column>
						<column width="50%"></column>
					</columns>
					<rows>
						<row>
							<div align="left"
								style="padding-left:20px">
								Tampilkan Field per-Halaman :
								<combobox width="70px"
									selectedItem="@save(vm.pageDetail)"
									value="@load(vm.pageDetail)"
									style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
									onSelect="@command('pageDetail')">
									<comboitem
										style="font-family: 'Times New Roman'; font-size: 11px; "
										label="10" value="10" />
									<comboitem
										style="font-family: 'Times New Roman'; font-size: 11px; "
										label="25" value="25" />
									<comboitem
										style="font-family: 'Times New Roman'; font-size: 11px; "
										label="50" value="50" />
									<comboitem
										style="font-family: 'Times New Roman'; font-size: 11px; "
										label="75" value="75" />
									<comboitem
										style="font-family: 'Times New Roman'; font-size: 11px; "
										label="100" value="100" />
									<comboitem
										style="font-family: 'Times New Roman'; font-size: 11px; "
										label="150" value="150" />
									<comboitem
										style="font-family: 'Times New Roman'; font-size: 11px; "
										label="200" value="200" />
								</combobox>
							</div>
							<div align="right"
								style="padding-right:20px">
								<label value="TOTAL PEMBAYARAN"
									style=" text-transform: uppercase; font-weight: bold;" />
								<textbox width="230px" readonly="true"
									value="@load(vm.collectionDetailDto.totalPembayaran)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 2px; border: solid #002d4e;" />
							</div>
						</row>
					</rows>
				</grid>
				<div align="right" height="6%" width="100%"
					style="background:#002d4e">
					<hlayout>
					<button label="TUTUP"
						style="background:#f2701a; color:white; width: 80px; height :30px; padding-top:3px; padding-right:10px; border-radius: 6px; border: solid #002d4e;"
						onClick="@command('closeDetail')" />
					</hlayout>
				</div>
			</window>
	</window>
</zk>