<?page title="FORMS" contentType="text/html;charset=UTF-8"?>

<zk>
	<window contentStyle="overflow-x: scroll; overflow-y: scroll" height="100%"  apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('vmd.EventsVmd')">
		
		<hlayout>
			<div width="23px"></div>
			<div width="300px" height="30px" style="padding-left:10px; background:#f2701a; border: solid #002d4e; border-width: 4px;">
				<div align="center" style="padding-top:2px;">
				<label style="font-weight: bold; color: white; font-size: 14px;">EVENTS</label>
				</div>
			</div>
		</hlayout>
		<div width="328px" height="4px" style="background:#002d4e"/>
		<separator></separator>
		<window style="min-width: 1060px; max-width: 1060px;">
		<div align="right" width="97%">
			<button label="ADD" style="background:#f2701a; color:white; width: 80px; height :
			30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('add')"/>
			<space></space>
			<space></space>
			<space></space>
			<space></space>  
			<image src="/imgs/if_search_322497.png"
					onClick="@command('search')">
			</image>
			<textbox placeholder="Search..." style="padding: 10px; border: solid #002d4e;"
					width="280px" value="@bind(vm.keySearch)"
					onOK="@command('search')" />
		</div>
		</window>
		<separator></separator>
		<window height="400px" width="100%" style="min-width: 1060px; max-width: 1060px; border-width:1px; border-style:ridge;" >
		<div align="center">
		<listbox mold="paging"  height="400px" pagingPosition="both" pageSize="@bind(vm.page)" model="@load(vm.listEventDto)"
			selectedItem="@bind(vm.eventsDto)" width="99%" style="text-transform:uppercase;" vflex="true"  >
			<listhead style="font-weight: bold; font-family: 'Times New Roman'; font-size: 14px; ">
				<listheader
					style="color:#ffffff; border-style: solid; font-size:12px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="EVENT ID"  width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="EVENT TYPE"  width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="EVENT COMPONENT"  width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="EVENT COMPONENT TARGET" width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="EVENT DATA"  width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="FORM ID"  width="">
				</listheader>
				<listheader
					style="color:#ffffff; border-style: solid; font-size:10px; border-color: #f2701a; background:#002d4e; border-width: 1px; text-align:center"
					label="ACTION"  width="">
				</listheader>
			</listhead>
			<template name="model">
				<listitem
					style="font-weight: 900; font-family: 'Times New Roman'; font-size: 10px; ">
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.eventId)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.eventType)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.eventComponent)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.eventComponentTarget)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.eventData)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:left"
						label="@load(each.formId)">
					</listcell>
					<listcell
						style="color:#000000; border-style: solid; font-size:10px; border-color: #f2701a; background:#d5dfef; border-width: 1px; text-align:center">
						<image src="/imgs/update.png" tooltiptext="Update" onClick="@command('edit')">
						</image>
						<image src="/imgs/remove.png" tooltiptext="Delete" onClick="@command('delete')">
						</image>
					</listcell>
				</listitem>
			</template>
		</listbox>
		</div>
		</window>
		<separator></separator>
			<div align="left" style="padding-left:20px">
				Show Field per-Page :
				<combobox width="70px" selectedItem="@save(vm.page)"
					value="@load(vm.page)"
					style=" font-family: 'Times New Roman'; font-size: 11px; background:#d5dfef; border: solid #002d4e;"
					onSelect="@command('page')">
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="10" value="10" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="25" value="25" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="50" value="50" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="75" value="75" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="100" value="100" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="150" value="150" />
					<comboitem
						style="font-family: 'Times New Roman'; font-size: 11px; "
						label="200" value="200" />
				</combobox>
			</div>
			
			<!-- ======= add or edit form ========== -->
			<window width="500px" height="400px" mode="modal" contentStyle="overflow:auto" position="center"
				style="-webkit-box-shadow: 1px 1px 3px 3px #002d4e; text-transform:uppercase;
			   box-shadow: 1px 1px 4px 7px #002d4e;"
				visible= "@load(vm.visibleAddEdit)">
				<div width="100%" height="3%"
					style="background:#002d4e">
				</div>
				<div width="100%" height="7%"
					style="background:#f2701a">
					<div style="padding-top:5px; padding-left:7px">
						<label value="ADD / EDIT"
							style="color:#002d4e; font-size:18px; font-weight: bold">
						</label>
					</div>
				</div>
				<window width="100%" height="74%">
					<grid>
						<columns>
							<column width="20%"/>
							<column width="60%"/>
							<column width="20%"/>
						</columns>
						<rows>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									EVENT ID
								</label>
								<textbox width="275px" tabindex="1"  disabled="@load(vm.fieldEventId)"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Input event id **" value="@bind(vm.eventsDto.eventId)" maxlength="10"/>
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									EVENT TYPE
								</label>
								<combobox width="275px"
									selectedItem="@bind(vm.eventsDto.eventType)" value="@load(vm.eventsDto.eventType)"
									style=" font-family: 'Calibri'; font-size: 12px;  border: solid #002d4e;">
									<comboitem
										style="font-family: 'Calibri'; font-size: 12px; "
										label="Change" value="Change" />
									<comboitem
										style="font-family: 'Calibri'; font-size: 12px; "
										label="Click" value="Click" />
									<comboitem
										style="font-family: 'Calibri'; font-size: 12px; "
										label="Init" value="Init" />
								</combobox>
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									COMPONENT 
								</label>
									<textbox width="275px" tabindex="1"  
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Input component **" value="@bind(vm.eventsDto.eventComponent)" />
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									TARGET
								</label>
								<textbox width="275px" tabindex="1"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Choose Target **" value="@bind(vm.eventsDto.eventComponentTarget)"/>
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									EVENT DATA
								</label>
								<textbox width="275px" tabindex="1"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Input event data **" value="@bind(vm.eventsDto.eventData)"/>
							</row>
							<row>
								<label
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; ">
									FORM ID
								</label>
								<textbox width="275px" tabindex="1"
									style="font-weight: normal; font-family: 'Calibri'; font-size: 14px; text-transform:uppercase; padding: 7px; border: solid #002d4e;"
									placeholder="** Choose form id **" value="@bind(vm.eventsDto.formId)"/>
							</row>
						</rows>
					</grid>
				</window>
				<div width="100%" height="7%">
					<div align="right">
						<button label="SAVE" style="background:#f2701a; color:white; width: 80px; height :
						30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('save')"/>
						<button label="CLOSE" style="background:#f2701a; color:white; width: 80px; height :
						30px; border-radius: 6px; border: solid #002d4e;" onClick="@command('close')"/>
					</div>
					
				</div>
				<div width="100%" height="2%"
					style="background:#f2701a">
				</div>
				<div width="100%" height="7%"
					style="background:#002d4e">
					<div align="center" style="padding-top:9px">
					</div>
				</div>
			</window>
	</window>
</zk>