<zk>
	<window width="100%" height="100%" contentStyle="background:#002d4e"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('vmd.banerVmd')">
		<window width="100%" height="95px" contentStyle="background:#002d4e">
			<grid width="100%" height="100%" style="padding:0px; border: 0px #CCC;">
				<columns >
					<column style="background:#002d4e ; border: 0px #CCC;">
						<div style="padding-bottom:15px;">
							<image src="/imgs/colLogo.png" width="125px" height="70px"></image>
						</div>
					</column>
					<column style="background:#002d4e; border: 0px #CCC;">
						<vlayout>
							<div>
								<timer id="timer" delay="1000" repeats="true">
									
								</timer>
							</div>
							<div align="right">
								<label
									style="font-size: 16px; color:#ffffff; font-family: calibri; font-weight: bold; "
									value="@load(vm.name)" />
								<label
									style="font-size: 16px; color:#ffffff; font-family: calibri; font-weight: bold;" value=" - ">
								</label>
								<label
									style="font-size: 16px; color:#ffffff; font-family: calibri; font-weight: bold;" value="@load(vm.position)">
								</label>
							</div>
						</vlayout>
					</column>
				</columns>
			</grid>
		</window>
		<div width="100%" height="35px" style="background:#f2701a">
			<div align="right">
				<a href="/index.zul" style="padding:1px">
					<image src="/imgs/home.png"
						style="padding-right:10px; padding-top:1px;" tooltiptext="HOME"/>
				</a>
				<a href="/index.zul" style="padding:1px">
					<image src="/imgs/logout2.png"
						style="padding-right:10px; padding-top:1px;" tooltiptext="LOGOUT"
						onClick="@command('logout')" />
				</a>
			</div>
		</div>
		<div width="100%" height="40px"></div>
		<window width="100%" height="100%"
			contentStyle="background:#a7aaaf">
		</window>
	</window>

</zk>