<?page title="Columbia" contentType="text/html;charset=UTF-8"?>
<?link rel="stylesheet" type"text/css" href="/bootstrap/css/bootstrap.css" ?>
<zk>
	<vbox apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('vmd.UploadTableVmd')">
		<space></space>
		<label style="font-size: 20px;">UPLOAD AND DOWNLOAD FILE</label>
		<separator />
		<div style="outline: 3px solid orange" />
		<separator />
		<separator />
		<div>
			<hlayout>
				<button label="UPLOAD" width="100px"
					style="background:#fb2e01; color:#fdfbfb; padding: 16px 30px;"
					onClick="@command('addUpload')">
				</button>
				<button label="DOWNLOAD" width="100px"
					style="background:#fb2e01; color:#fdfbfb; padding: 16px 17px;"
					onClick="@command('runDownload')">
				</button>
				<button label="Show Report" onClick="@command('showReport')" /> 
			</hlayout>

			<div style="text-align : right;">
				<textbox placeholder="Search..." style="padding: 10px;"
					width="210px" />
				<button label="SEARCH" onClick="#"
					style="background:#fb2e01; color:#fdfbfb; padding: 10px 35px;" />
			</div>
		</div>
		<separator />
		<listbox mold="paging" pagingPosition="both" pageSize="5"
			model="@load(vm.listUploadTableDto)"
			selectedItem="@bind(vm.uploadTableDto)">
			<listhead
				style="font-weight: 900; font-family: 'Times New Roman'; ">
				<listheader
					style="background:#fdfcfc; font-weight: 900; border-style: groove;;"
					label="Nama" />
				<listheader
					style="background:#fdfcfc; font-weight: 900; border-style: groove;"
					label="Tanggal Upload" />
				<listheader
					style="background:#fdfcfc; font-weight: 900; border-style: groove;"
					label="File Name" />
			</listhead>
			<template name="model">
				<listitem
					style="font-weight: 900; font-family: 'Times New Roman'; font-size: 17px; ">
					<listcell style="border-style: groove;"
						label="@load(each.nama)" />
					<listcell style="border-style: groove;"
						label="@load(each.timeUpload)" />
					<listcell style="border-style: groove;"
						label="@load(each.fileName)" />
				</listitem>
			</template>
		</listbox>
		
		<jasperreport id="report" height="360px"
        src="@load(vm.reportConfig.source, after='showReport')"
        parameters="@load(vm.reportConfig.parameters, after='showReport')"
        type="@load(vm.reportConfig.type, after='showReport')"
        datasource="@load(vm.reportConfig.dataSource, after='showReport')"/>
        
		<window visible="@bind(vm.statusPopUp)" width="450px"
			height="500px" mode="modal" contentStyle="overflow:auto"
			style="-webkit-box-shadow: 1px 1px 10px 3px #969696;
			box-shadow: 1px 1px 10px 3px #969696;">
			<grid>
				<columns>
					<column width="100%" align="left"
						style="background-color: green;">
					</column>
				</columns>
				<rows style="background-color: #c5c0be;">
					<row>
						<label
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 20px; ">
							UPLOAD
						</label>
					</row>
				</rows>
			</grid>
			<grid>
				<columns>
					<column width="30%" align="left" />
					<column width="70%" />
				</columns>
				<rows>
					<row style="padding-bottom: 12px;">
						<label
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 14px; ">
							Nama
						</label>
						<textbox width="250px" tabindex="1"
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 14px; "
							constraint="no empty: harus di isi"
							value="@load(vm.namaPengapload) @bind(vm.namaPengapload) @save(vm.namaPengapload), before='insert')" />
					</row>
					<row style="padding-bottom: 12px;">
						<label
							style="font-weight: 900; font-family: 'Times New Roman'; font-size: 14px; ">
							File
						</label>
						<fileupload label="Upload"
							onUpload="@command('runUpload', upEvent=event)" />
						<button label="UPLOAD" upload="true" onUpload="@command('runUpload', upEvent=event)" />
						<dropupload maxsize="5120" detection="none"
							onUpload="@command('runUpload', upEvent=event)">
							</dropupload>
					</row>
				</rows>
			</grid>
			<space></space>
			<space></space>
			<div style="outline: 3px solid orange" />
			<separator />
			<separator />
			<space></space>
			<space></space>
			<button label="Close" width="100px"
				style="background:#fb2e01; color:#fdfbfb; padding: 16px 30px;"
				onClick="@command('close')">
			</button>
		</window>


	</vbox>
</zk> 